@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Domine:wght@600&family=Fredoka+One&display=swap");

body {
  padding: 5px;
  min-height: 100vh;
  background: linear-gradient(#9beece 0%, #6a34ea 100%);
}

#createNote {
  box-shadow: 0px 10px 18px -7px #9beece;
  background: linear-gradient(to bottom, #9beece 5%, #6b34ea 100%);
  background-color: #9beece;
  border-radius: 42px;
  display: inline-block;
  cursor: pointer;
  color: #000000;
  font-family: "Fredoka One", cursive;
  font-size: 20px;
  padding: 13px 32px;
  outline: none;
  text-decoration: none;
  text-shadow: 5px -3px 8px #6b34ea;
}
#createNote:hover {
  background: linear-gradient(to bottom, #6b34ea 5%, #9beece 100%);
  background-color: #6b34ea;
}
#createNote:active {
  position: relative;
  top: 1px;
}

#noteAgenda {
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-height: 80vh;
}

.dropDowns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  flex-wrap: wrap;
}

#inputForm {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 550px;
  height: 220px;
  align-items: center;
  margin: auto;
  border-radius: 5px;
  padding: 10px;
  border-style: none;
  border-width: 2px;
}

#lastLineForm {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

#topLineForm {
  margin: 10px;
  text-align: center;
}

#titleLabel {
  margin: 15px;
  text-align: center;
}

#priorityLabel {
  margin: 15px;
}

#categoryLabel {
  margin: 15px;
}

#descriptionBox {
  resize: none !important;
  text-align: center;
  overflow: auto;
}

#checkboxForm {
  font-family: "Fredoka One", cursive;
  float: left;
  margin-left: 28px;
  padding-right: 60px;
}

#buttonSpan {
  float: right;
  margin-right: 32px;
  padding-top: 2px;
  padding-left: 60px;
}

#submitButton {
  box-shadow: 0px 10px 18px -7px #9beece;
  background: linear-gradient(to bottom, #9beece 5%, #6b34ea 100%);
  background-color: #9beece;
  border-radius: 42px;
  display: inline-block;
  cursor: pointer;
  color: #000000;
  font-family: "Fredoka One", cursive;
  font-size: 14px;
  padding: 5px 12px;
  outline: none;
  text-decoration: none;
  text-shadow: 5px -3px 8px #6b34ea;
}
#submitButton:hover {
  background: linear-gradient(to bottom, #6b34ea 5%, #9beece 100%);
  background-color: #6b34ea;
}
#submitButton:active {
  position: relative;
  top: 1px;
}

#notesContainer {
  border-style: none;
  position: left;
  margin-top: 20px;
  margin-left: 20px;
  padding-left: 10px;
  max-width: 48%;
  min-width: 48%;
  margin: auto;
  height: 577px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.3);
}

#filterNotes {
  text-align: center;
}

#agendaContainer {
  border-style: none;
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 30px;
  padding-left: 10px;
  max-width: 48%;
  min-width: 48%;
  margin: auto;
  height: 577px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.3);
}

#filterAgenda {
  margin-top: 15px;
  text-align: center;
}

.padding {
  margin-left: 10px;
}

.inputPadding {
  margin-top: 15px;
  margin-left: 5px;
}

h1 {
  font-family: "Fredoka One", cursive;

  text-align: center;
  text-transform: uppercase;
}

h3 {
  text-align: center;
  padding: 5px;
  padding-top: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  text-transform: uppercase;
  font-size: 20px;
  font-family: "Fredoka One", cursive;
}

#noteList {
  height: 70%;
  margin-top: 10px;
  margin-bottom: 20px;
  max-width: 98%;
  min-width: 98%;
  overflow-y: scroll;
}

#agendaList {
  height: 70%;
  margin-top: 10px;
  margin-bottom: 20px;
  max-width: 98%;
  min-width: 98%;
  overflow-y: scroll;
}

#main {
  padding: 5px;
  background: linear-gradient(#9beece 0%, #6a34ea 100%);
}

/* /////////////////////////////////Agenda */
ul {
  padding-left: 0px;
}

#agendaItem {
  border-style: solid;
  list-style-type: none;
  list-style-position: inside;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 5px;
  border-color: orange;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#noteInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-style: solid;
  border-color: red;
}

#agnFooter {
  display: flex;
  flex-direction: row;
  border-style: solid;
  justify-content: space-between;
  height: 35px;
  vertical-align: auto;
}

#agnButton {
  display: flex;
  flex-direction: column;
  justify-content: left;
}

#agnDT {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
}

#priegory {
  border-style: solid;
  border-color: yellow;
}

#agnTitle {
  border-style: solid;
  border-color: brown;
}

#agnDesc {
  border-style: solid;
  border-color: cyan;
}
