@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Domine:wght@600&family=Fredoka+One&display=swap");
#noteAgenda {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#inputForm {
  position: relative;
  width: 671px;
  height: 300px;
  align-self: center;
  margin: auto;
  border-radius: 5px;
  padding: 10px;
  border-style: none;
  border-width: 2px;
}
#topLineForm {
  margin: 20px;
  text-align: center;
}

#titleLabel {
  margin: 15px;
  text-align: center;
}

#priorityLabel {
  margin: 15px;
}

#categoryLabel {
  margin: 15px;
}

#descriptionBox {
  text-align: center;
}

#checkboxForm {
  float: left;
  margin-left: 28px;
}

#buttonSpan {
  float: right;
  margin-right: 32px;
  padding-top: 2px;
}

#submitButton {
  position: relative;
  width: 86px;
  height: 20px;
  border-style: none;
  border-radius: 2px;
}

#notesContainer {
  border-style: none;
  position: left;
  margin-top: 20px;
  margin-left: 30px;
  width: 825px;
  height: 577px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.3);
}

#filterNotes {
  text-align: center;
}

#agendaContainer {
  border-style: none;
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 30px;
  width: 825px;
  height: 577px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.3);
}

#filterAgenda {
  margin-top: 15px;
  text-align: center;
}

.padding {
  margin-left: 10px;
}

.inputPadding {
  margin-top: 15px;
  margin-left: 5px;
}

h1 {
  font-family: "Fredoka One", cursive;

  text-align: center;
  text-transform: uppercase;
}

h3 {
  text-align: center;
  padding: 15px;
  text-transform: uppercase;
  font-size: 20px;
  font-family: "Fredoka One", cursive;
}

#noteList {
  overflow-y: scroll;
}

#main {
  padding: 5px;
  background: linear-gradient(#9beece 0%, #6a34ea 100%);
}
